h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 5em;
	font-weight: 90em;
    color: white;
}
h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 50em;
    color: white;
}
p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 25em;
    color: white;
}
a.left {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 120em;
	background: transparent url('beigeback.png');
	border: none;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none; 
	display: inline-block;
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    width: 100px;
    color: teal;
    /*animation: spin 10s linear infinite; */
  /*Set our animation play state to paused initially */
  /*animation-play-state: paused; */
}
/*a.left:hover {
animation-play-state: running;
}
@keyframes spin {
  100% {transform: rotate(1turn); } */
}
/*a.middle {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 120em;
	background: transparent url('beigeback.png');
	border: none;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none; 
	display: inline-block;
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    width: 100px;
    color: teal; */
}
a.right {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 120em;
	background: transparent url('beigeback.png');
	border: none;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none; 
	display: inline-block;
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 25px;
    width: 100px;
    color:teal;
}
/*a.statement {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 100em;
	background: transparent url('beigeback.png');
	border: none;
	padding: 100px 200px;
	text-align: center;
	text-decoration: none; 
	display: inline-block;
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 75%;
    margin-left: 400px;
    width: 100px;
    color:teal;
}
*/
