h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 5em;
	font-weight: 90em;
}
h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 50em;
}
p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 25em;
}
a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: 80em;
	background: transparent url('beigeback.png');
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none; 
	display: inline-block;
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    width: 250px;
}