h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 5em;
	font-weight: 90em;
}
h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 50em;
}
p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 25em;
}
	